<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- scripts.html -->

<!-- Autres scripts -->
<th:block th:fragment="scripts">
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/commandes.js}"></script>
    <!-- Chart.js and charts -->
    <script th:src="@{/cdn/chart.js}"></script>
    <script th:src="@{/js/charts/materielle-charts.js}"></script>
    <script th:src="@{/js/charts/ingredients-charts.js}"></script>
    <script th:src="@{/js/charts/caisse-charts.js}"></script>
    <script th:src="@{/js/charts/plats-charts.js}"></script>
    <script th:src="@{/js/dashboard/plat-list.js}"></script>
    <script th:src="@{/js/dashboard/caisse-summary.js}"></script>
</th:block>
</body>
</html>